body {
  font-family: 'Oswald', sans-serif;
}
.topo {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.topo figure img {
  margin: 0 auto;
  max-width: 100%;
}
.topo .description {
  background: #094e85;
  margin: 60px 0;
  padding: 50px 0;
  border-bottom: 1px solid #87a5bd;
  border-top: 1px solid #0c4e82;
}
.topo .description h1 {
  width: 60%;
  color: #fffefb;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: 500;
  font-size: 35px;
}
section {
  text-align: center;
}
section h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: #020202;
}
.sobre h1 {
  margin-bottom: 30px;
}
.sobre ul {
  width: 94%;
}
.sobre ul li {
  display: inline-flex;
  width: 33.3%;
  margin: 0 auto;
}
.sobre ul li figure img {
  width: 120px;
  max-width: 100%;
}
.sobre ul li figure figcaption p {
  color: #0b4e83;
  font-size: 28px;
  text-transform: uppercase;
}
.sobre ul.first li {
  display: inline-block;
}
.resultado ul {
  margin: 50px auto;
  display: inline-flex;
}
.resultado ul li {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid #ffe29b;
  background: #fbb03b;
  border-radius: 50%;
  margin: 0 18px;
}
.resultado ul li span {
  font-size: 80px;
  display: block;
  padding-top: 30px;
  font-weight: bold;
  color: #094e85;
}
.resultado ul li p {
  font-size: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 26px;
  color: #074c83;
}
@media (max-width: 800px) {
  .topo .description h1{
    width:90%;
    font-size:25px;
  }
  section h1{
    font-size:30px
  }
  .sobre ul {
    width: auto;
    padding-left: 0;
  }
  .sobre ul li {
    display: table;
    width: auto;
  }
  .sobre ul li figure img{
    width:100px;
  }
  .sobre ul li figure figcaption p{
    font-size:20px;
  }
  .resultado ul{
    display:table;
    padding-left:0;
  }
  .resultado ul li{
    width:auto;
    margin-bottom:20px;
    display:table;
  }
}


@media all and (min-width: 800px) {
  .resultado ul{
    display:table;
    padding-left:0;
  }
}
