extends layout

block content
	header.topo
		figure
			img(src="/images/inova_logo.png", alt="Inova Joinville", title="Inova Joinville")
		.description
			h1 O Inova é um movimento independente que promove ações para o bem-estar social, ambiental e econômico das pessoas e de joinville
	section.sobre
		header
			h1 O que Fazemos?

		ul.col-2.first
			li
				figure
					img(src="/images/construir.png", alt="Ajudar a Construir Projetos", title="Ajudar a Construir Projetos")
					figcaption
						p 1 . Ajudar a Contruir Projetos 
	
			li
				figure
					img(src="/images/divulgar.png", alt="Divulgamos através da rede", title="Divulgamos através da rede")
					figcaption
						p 2 . Divulgamos através da rede  
		
		ul.col-2
			li
				figure
					img(src="/images/conexao.png", alt="Ativamos nossas redes para fazer conexões estratégicas ", title="Ativamos nossas redes para fazer conexões estratégicas ")
					figcaption
						p 3 . Ativamos nossas redes para fazer conexões estratégicas 

			li
				figure
					img(src="/images/cidadania.png", alt="Promovemos o exercício da cidadania", title="Promovemos o exercício da cidadania")
					figcaption
						p 4 . Promovemos o exercício da cidadania 

	section.resultado
		header
			h1 Resultados
		
		ul.projetos
			li
				span 5
				p Projetos acelerados
			li
				span 300
				p Pessoas envolvidas diretamente
			li
				span 20
				p Reuniões Quinzenais
			li
				span 800+
				p Pessoas Impactadas 
	section.join
		header
			h1 Quer fazer parte?