doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width", initial-scale=1)
		meta(charset="utf-8")
    
		link(rel="icon", sizes="16x16", href="/images/favicon.png")
		meta(name="description", itemprop="description", content="O Inova movimento independente que promove ações para o bem-estar social, ambiental e econômico das pessoas e de Joinville!")
		link(rel="canonical", href="http://inovajoinville.github.io")

		link(href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
