* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif; }

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; }

.wrapper > * {
  padding: 10px;
  flex: 1 100%; }

.header {
  background: #fff;
  margin-bottom: 5%; 
	margin-left: 20%;}
  .header img {
    max-width: 100%; }

.footer {
  background: #fff; }

.main {
  text-align: center;
  background: #fff;
  color: #111;
  font-size: 1.5em; 
	section{
		width: 80%;
		float: right;
		position: relative;
	}
  .thumbs_build{
    display: inline-flex;
    margin: 0 auto;
    flex: 1 0;
    figure{
      margin: 50px 0;
      flex: inherit;
      figcaption{
        color: #1B568A;
        width: 80%;
        margin: auto;
        margin-top: 30px;
      }
      img{
        width: 120px;
        max-width: 100%;
      }
    }
  }
  #results{
      background: url("/images/peoples.jpg");
      background-size: cover;
      background-position: top center;
      background-attachment: fixed;
      min-height: 500px;
    header{
      background: transparent;
      h3{
        color: #fff
      }
      hr{
        background: #fff;
      }
    }
  }
  .thumb_rd {
    display: inline-flex;
    li.item{
        flex:inherit;
        width: 218px;
        height: 200px;
        background: #FFBB37;
        margin: 0 28px;
        border-radius: 50%;
        max-width: 100%;
        display: table;
        color: #00498A;
        text-align:center;
        padding-top: 2%;
        span{
        line-height:2;
        font-weight:bold;
        font-size: 3rem;
      }
    }
    p {
      width: 80%;
      margin: auto;
      font-size: 1.1rem;
      margin-top: 5%;
    }
  }

  #join{
    ul.thumb_join {
      display: inline-flex;
    }
    ul.thumb_join figure{
        flex: 1 0;
        width: 300px;
        max-width: 100%;
    }
  }
}
  .main header {
    text-align: center;
    margin: 20px;
    padding: 10px 0;
    color: #686C8D;
    font-size: 2em;
    background: #fff; }
    .main header h3 {
      text-transform: uppercase; }
    .main header hr {
      margin: 10px 0;
      margin-right: 45%;
      margin-left: 45%;
      height: 5px;
      background: #686C8D;
      border: 0px; }
  .main p {
    font-size: 0.9em; }
  .main figure.thumbs {
    margin: 5% 0; }
    .main figure.thumbs img {
      width: 200px;
      max-width: 100%;
      margin: 20px; }

  .aside-1 {
    background: rgba(239, 239, 239, 0.16);
    padding-top: 5%;
    position: fixed;
    left: 0;
    height: 100%; }
  .aside-1 header h1 {
    text-transform: uppercase;
    font-size: 2.8em;
    color: #00498A;
    font-weight: bold; }
    .aside-1 header h1 span {
      font-weight: 100; }
  .aside-1 header nav {
    margin: auto;
    margin-top: 50%;
    a{
      text-decoration: none;
    }
    }
    .aside-1 header nav li {
      line-height: 5;
      margin: 10px 0;
      }
      .aside-1 header nav li:hover{
        background: #0A4B8A;
      }
      .aside-1 header nav a li  {
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #686C8D;
        font-size: 1.5em;
        line-height: 4;
        }
        .aside-1 header nav a li:hover {
          color: #FFA100; }

  .aside-2 {
  background: hotpink; }

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto; } }
@media all and (min-width: 800px) {
  .main {
    flex: 3 0px; }

  .aside-1 {
    order: 1; }

  .main {
    order: 2; }

  .aside-2 {
    order: 3; }

  .footer {
    order: 4; } }
