$font: 'Lato', sans-serif;
$nav-color: #000;
$hover-link-color: #094E85;
$secondary-font-color: #707070;

$accent-color-1: #F7F7F7;
$accent-color-2: #ccd8db;
$footer-color: #fff;

$main-title-size: 2.2em;
$main-title-leading: 1em;
$main-title-size-m: 1.5em;
$paragraph-size: 1.1em;
$post-title-size: 3.2em;

$main-padding: 20px;
$sections-margin: 50px;